html, body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


header ul{
    background-color: #eeeeee;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 1.5rem;
}

header ul li{
    margin: auto;
    font-weight: bold;
}

main{
    margin: 0;
}
.landing {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 0;
}

.position {
   font-size: 3em;
   width: 100%;
   padding: 15%;
   
}
.title1 {
    animation: slideinLeft 2s ease-in-out;
}

@keyframes slideinLeft {
    from{
        margin-bottom: 100%;
        width: 300%;
    }

    to{
        margin-right: 0%;
        width: 100%;
    }
}

.link h1{
    margin-left: 40%;
    animation: slideinRight 2s ease-in-out;
    
}

@keyframes slideinRight {
    from{
        margin-left: 130%;
        width: 200%;
    }

    to{
        margin-left: 40%;
        width: 100%;
    }
}

.about {
    height: 100vh;
    background-color: #eeeeee;
}

.container {
    margin: 20%;
}